@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    height: 500vh;
}

/* Nav Styling */

.img_logo_bmw {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding: .2em;
    color: #FFFFFF;
}

.slider {
    position: absolute;
    filter: brightness(50%);
}

.slide_track {
    display: flex;
    /*animation: scroll 8s normal infinite;*/
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100vw * 1));
    }
}

.slide {
    height: 900px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.imgslide {
    width: 100vw;
    height: 1000px;
}

.mobile_text {
    display: none;
}

.new_bmw_logo {
    z-index: 1;
    position: relative;
    top: 30px;
    font-size: 48px;
    color: white;
    font-family: 'Cairo', sans-serif;
    left: 20px;
}

.text_bmw {
    color: #D6D6D6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 15px;
}


.test_drive_button {
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

.test_drive_button:hover {
    scale: 1.01;

}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-bottom: -15px;
    background-color: #343434;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

/* Burger Styling */
.burger_logo {
    margin: 20px;
}

.burger {
    background: transparent;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}


.line {
    width: 3em;
    height: .3em;
    background: white;
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.slide_track_v2 {
    display: none;
}

/*sekcja 2 */
.facts_bmw {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*sekcja 2 */
@media only screen and (max-width: 1000px) {
    .desktop_text {
        display: none;
    }

    .img_logo_bmw {
        margin-right: 20px;
    }

    .new_bmw_logo {
        z-index: 1;
        position: relative;
        top: 250px;
    }

    .burger {
        z-index: 2;
        margin-top: -285px;
        display: block;
        transition: .3s ease-in-out;
    }

    .img_logo_bmw {
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .new_bmw {
        font-size: 48px;
        display: flex;
        flex-wrap: wrap;
        max-width: 165px;
        line-height: 55px;
    }

    .test_drive_button {
        top: 380px;
        left: 150px;
        padding: 10px 60px;
        background: #3369D3;
        border: none;
        font-family: 'Cairo', sans-serif;
        font-size: 14px;
        color: white;
    }

    .mobile_text {
        display: block;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }

    .active_burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        position: absolute;
        z-index: 2;
        gap: 100px;
        right: 0;
        height: 98vh;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
        font-family: 'Cairo', sans-serif;
    }

    .test_drive {
        margin: 0 auto;
        background: #3369D3;
        width: 280px;
        height: 46px;
        font-size: 14px;
    }

    .test_drive_text {
        display: flex;
        justify-content: center;
        padding: 10px 60px;
        font-size: 14px;
        letter-spacing: .7px;
        text-transform: uppercase;
    }

    .active_burger.active {
        transform: translate(0%);
    }

    .burger_text {
        color: #FFFFFF;
        font-size: 16px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    /*zmiana zdjecia*/
    .slider_v2x {
        position: absolute;
        filter: brightness(50%);
    }


    .slide_track_v2x {
        display: flex;
        animation: scroll 12s normal infinite;
    }

    .imgslide_v2x {
        width: 100%;

    }

    .slide_v2x {
        height: 1000px;
        width: 100vw;
        display: flex;
        align-items: center;
    }

    .imgslide_v2 {
        width: 100vw;
        height: 720px;
    }

    /*zmiana zdjecia*/
    /*sekcja 2 */
    .facts_bmw {
        position: relative;
        top: 700px;
    }

    .img_box_facts {
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }

    .foto_car1 {
        display: flex;
        margin-top: 100px;
        position: relative;
        top: 60px;
        width: 110px;
        height: 110px;
    }

    .facts_bmw_text {
        display: flex;
        margin: 130px auto;
    }

    .main_text_before {
        font-weight: bold;
        margin-left: 20px;
        min-width: 200px;
        font-size: 24px;
        font-family: 'Cairo', sans-serif;
        line-height: 30px;
    }

    .main_text_before:before {
        position: absolute;
        top: 330px;
        content: url("/images/ico_1.svg");
    }

    .about_car {
        position: relative;
        top: 100px;
        right: 250px;
        flex-wrap: wrap;
        width: 296px;
    }

    .bmw_fail {
        margin-left: -80px;
    }

    .bmw_fail2 {
        margin-left: -40px;
    }

    .conainer_about_car {
        display: flex;
        margin: 20px;
        flex-wrap: wrap;
    }

    .number_with_after {
        font-family: 'Cairo', sans-serif;
        font-weight: bold;
        font-size: 12px;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }

    .number_with_after:before {
        position: absolute;
        content: '';
        width: 300px;
        height: 1px;
        background: gray;
    }

    .text_about_bmw {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        line-height: 20px;
        color: #4E4E4E;
    }

    .img_box_facts_v2 {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }

    .white_bmw_img1 {
        width: 240px;
        height: 240px;
    }

    .white_bmw_img2 {
        margin-top: -30px;
        position: relative;
        width: 110px;
        height: 110px;
    }

    /*sekcja 2 */
    /*sekcja 3 */
    .bmw_text {
        margin: 20px;
        position: relative;
        top: 800px;
    }

    .bmw_text_ix {
        margin-bottom: 30px;
        width: 174px;
        font-size: 24px;
        font-family: 'Cairo', sans-serif;
        line-height: 26px;

    }

    .bmw_text_ix:after {
        content: url("/images/ico_2.svg");
        position: relative;
        bottom: 90px;
        margin-left: -85px;
    }

    .first_text_bmw {
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #707070;
    }

    .secondary_text_bmw {
        color: #4E4E4E;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        line-height: 24px;
    }

    /*sekcja 3 */
    /*sekcja 4*/
    .five_img_bmw {
        flex-wrap: wrap;
        position: relative;
        top: 900px;
        gap: 5px;
        margin: 5px;
    }

    .first_img_bmw {
        width: 100%;
    }

    .first_two_img {
        display: flex;
        gap: 5px;
    }

    .second_img_bmw {
        flex-grow: 1;
        width: 30%;
    }

    .thrid_img_bmw {
        flex-grow: 3;
        width: 100px;
    }

    .secondary_two_img {
        display: flex;
        gap: 5px;
        margin-top: 5px;
    }

    .fourth_img_bmw {
        width: 50%;
    }

    .fivth_img_bmw {
        width: 50%;
        height: 150px;
    }

    /*sekcja 4 */
    /*sekcja 5 */
    .test_dive_img {
        position: relative;
        top: 950px;
        margin-left: -38px;
    }

    .hide_gold_bmw {
        position: relative;
        left: -160px;
        margin-bottom: 60px;
    }

    .test_drive_text_ix {
        display: flex;
        justify-content: center;
        font-family: 'Cairo', sans-serif;
        font-weight: bold;
    }

    .test_drive_text_ix:before {
        content: 'BMW iX';
        position: absolute;
        left: 390px;
        margin-top: 8px;
        font-size: 13px;
    }

    .both_text_drive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 350px;
        color: #707070;
        font-family: 'Open Sans', sans-serif;
    }

    .first_text_drive {
        margin-left: 58px;
    }

    .secondary_text_drive {
        margin-top: 20px;
        margin-left: 58px;
    }

    /*sekcja 5 */
    /*sekcja 6 */
    .form_box {
        position: relative;
        top: 1000px;
        max-width: 343px;
        margin-left: 54px;
    }

    .form_text {
        margin: 0 auto;
        font-size: 20px;
        font-family: 'Cairo', sans-serif;
        line-height: 20px;
    }

    .checkbox_box {
        margin: 30px 0;
    }

    .label_choose {
        margin-left: 10px;
        font-size: 13px;
        font-family: Roboto;
    }

    .checkbox {
        margin-left: 30px;
    }

    .input_box_form > input {
        width: 300px;
        height: 40px;
        display: flex;
        margin-bottom: 15px;
    }

    .input_box_form > input::placeholder {
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
        padding-left: 15px;
    }

    .send_form {
        width: 165px;
        height: 45px;
        background: #3369D3;
        border: none;
        border-radius: 3px;
        color: white;
        font-family: 'Cairo', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 25px;
    }

    /*sekcja 6 */
}

@media only screen and (max-width: 760px) {
    ul {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .test_drive_button {
        left: 39px;
    }

    .test_drive_text_ix:before {
        left: 340px;
        line-height: 10px;
        margin-top: 15px;
    }

    .first_text_drive {
        margin-left: 55px;
    }

    .secondary_text_drive {
        margin-left: 55px;
    }
}