@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    height: 300vh;
}

/* Nav Styling */

.img_logo_bmw {
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding: .2em;
    color: #FFFFFF;
}

.slider {
    position: absolute;
    filter: brightness(50%);
}

.slide_track {
    display: flex;
    /*animation: scroll 8s normal infinite;*/
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100vw * 1));
    }
}

.slide {
    height: 900px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.imgslide {
    width: 100vw;
    height: 1000px;
}

.mobile_text {
    display: none;
}

.new_bmw_logo {
    z-index: 1;
    position: relative;
    top: 30px;
    font-size: 48px;
    color: white;
    font-family: 'Cairo', sans-serif;
    left: 20px;
}

.text_bmw {
    color: #D6D6D6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 15px;
}



.test_drive_button {
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

.test_drive_button:hover {
    scale: 1.01;

}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-bottom: -15px;
    background-color: #343434;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

/* Burger Styling */
.burger_logo {
    margin: 20px;
}

.burger {
    background: transparent;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}


.line {
    width: 3em;
    height: .3em;
    background: white;
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.slide_track_v2{
    display: none;
}
@media only screen and (max-width: 1000px) {
    .desktop_text {
        display: none;
    }

    .img_logo_bmw {
        margin-right: 20px;
    }

    .new_bmw_logo {
        z-index: 1;
        position: relative;
        top: 250px;
    }

    .burger {
        z-index: 2;
        margin-top: -285px;
        display: block;
        transition: .3s ease-in-out;
    }

    .img_logo_bmw {
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .new_bmw {
        font-size: 48px;
        display: flex;
        flex-wrap: wrap;
        max-width: 165px;
        line-height: 55px;
    }

    .test_drive_button {
        top: 380px;
        left: 150px;
        padding: 10px 60px;
        background: #3369D3;
        border: none;
        font-family: 'Cairo', sans-serif;
        font-size: 14px;
        color: white;
    }

    .mobile_text {
        display: block;
    }
    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }

    .active_burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        position: absolute;
        z-index: 2;
        gap: 100px;
        right: 0;
        height: 98vh;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
        font-family: 'Cairo', sans-serif;
    }

    .test_drive {
        margin: 0 auto;
        background: #3369D3;
        width: 280px;
        height: 46px;
        font-size: 14px;
    }

    .test_drive_text {
        display: flex;
        justify-content: center;
        padding: 10px 60px;
        font-size: 14px;
        letter-spacing: .7px;
        text-transform: uppercase;
    }

    .active_burger.active {
        transform: translate(0%);
    }

    .burger_text {
        color: #FFFFFF;
        font-size: 16px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
    /*zmiana zdjecia*/

    .slider_v2x {
        position: absolute;
        filter: brightness(50%);
    }


    .slide_track_v2x {
        display: flex;
        animation: scroll 12s normal infinite;
    }

    .imgslide_v2x {
        width: 100%;

    }
    .slide_v2x{
        height: 1000px;
        width: 100vw;
        display: flex;
        align-items: center;
    }
    .imgslide_v2{
        width: 100vw;
        height: 720px;
    }
    /*zmiana zdjecia*/

}

@media only screen and (max-width: 760px) {
    ul {
        width: 100%;
    }
}

@media only screen and (min-width: 340px) {
    .test_drive_button {
        left: 39px;
    }
}