@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #702A9F;
    --blueHover: #9549c7;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* Nav Styling */

.nav_burger {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 2em;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding: .2em;
    color: #FFFFFF;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    margin-bottom: -15px;
    background-color: #343434;
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

/* Burger Styling */

.burger {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background: #858585;
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
        transition: .3s ease-in-out;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }

    .active_burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        position: absolute;
        gap: 100px;
        right: 0;
        top: 8vh;
        height: 92vh;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
        font-family: 'Cairo', sans-serif;
    }

    .test_drive {
        margin: 0 auto;
        background: #3369D3;
        width: 280px;
        height: 46px;
        font-size: 14px;
    }
    .test_drive_text{
        display: flex;
        justify-content: center;
        padding: 10px 60px;
        font-size: 14px;
        letter-spacing: .7px;
    }

    .active_burger.active {
        transform: translate(0%);
    }

    a {
        color: #FFFFFF;
        font-size: 16px;
        letter-spacing: 2px;
    }
}

@media only screen and (max-width: 760px) {
    ul {
        width: 100%;
    }
}